.container {
  width: 75%;
  margin: 0 auto;
}

.container h1 {
  color: #f15454;
  font-size: 28px;
  text-align: center;
  padding: 40px 0;
  font-family: "poppins";
  letter-spacing: 4px;
  font-weight: bolder;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  flex-basis: 20%;
  margin: 30px 0;
  background: rgba(251, 207, 177, 0.5);
  border: 3px solid #fcb69fc9;
  box-shadow: 0px 0px 8px rgba(94, 74, 68, 0.315);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.item img {
  margin-bottom: 20px;
  border-radius: 8px;
}

.item a {
  background: #85fa5b;
  width: 90px;
  color: black;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  padding: 12px 10px;
  display: inline-block;
  margin-top: 10px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 0.8em;
  transition: 1s;
}

.item a:hover {
  text-decoration: none;
  background: #60ad43;
  color: white;
}
