.history{
    width: 85%;
    margin: 0px auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;

}

.bgImage{
    background: linear-gradient(rgba(0, 0, 0, 0.603) , rgba(0, 0, 0, 0.253)) , url('../../Images/HistoryImage.jpg');
    flex-basis: 38%;
    height: 35em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;    
}

.mainContent{
    flex-basis: 50%;
    text-align: left;
}

.mainContent h1{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 80px;
    color: #E04E3B;
    font-weight: lighter;
}

.mainContent h2{
    font-family: 'Playfair Display';
    font-size: 52px;
    margin-top: -40px;
}

.mainContent p {
    font-family: 'Poppins';
    margin-top: 30px;
    margin-bottom: 45px;
    color: rgba(0, 0, 0, 0.705);
}

.mainContent a{
    text-decoration: none;
    border: 2px solid rgba(255, 0, 0, 0.603);
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    transition: 1s;
    font-family: 'Poppins';
}

.mainContent a:hover{
    background: rgba(255, 0, 0, 0.808);
    color: white;
}