.content{
    margin: 130px auto;
}

.content h1{
    font-family: 'Playfair Display', serif;
    color: #f0f0f0;
    letter-spacing: 6px;
    font-size: 55px;
    font-weight: 600;
}

.content h3{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 20px;
    color: #f0f0f0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    font-weight: 400;
}

.form input{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    outline: none;
    appearance: none;
}

.form button{
    display: inline-block;
    background-color: #DC143C;
    color: #FFFFFF;
    font-family: 'Poppins';
    width: 180px;
    height: 30px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 12px;
    margin-top: 15px; 
    cursor: pointer;
    transition: 0.8s;
}

.form button:hover{
    background-color: #880f27;
}