.catInfo{
      background: linear-gradient(rgba(253, 225, 205, 0.404) , rgba(252, 228, 212, 0.103));
}
.catInfo h1{
    font-family: 'Poppins';
    color: #E04E3B;
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
    padding: 40px;
}

.catContainer{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catContainer .item{
    flex-basis: 30%;
}

