.main{
    width: 85%;
    margin: 30px auto;
}



.main h1{
    color: #F15454;
    font-size: 28px;
    text-align: center;   
    font-family: 'poppins';
    letter-spacing: 4px;
    font-weight: bolder;
    padding-bottom: 85px;
}


.container{
    display: flex;
    justify-content: space-between;
}

.container .item{
    flex-basis: 25%;
}

.item img{ 
    width: 100%;
    height: 38vh;
    border-radius: 15px;
}

.item p{
    font-family: 'Poppins';
    color: #3d3d3d;
    text-align: start;
    word-break: break-all;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Poppins';
    font-style: italic;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;   
}