.pageContainer {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pageButtons {
  width: 30px;
  height: 30px;
  border: 2px solid #eb2929;
  appearance: none;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #000000;
  margin-right: 15px;
  cursor: pointer;
  transition: 1s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pageButtons:hover {
  color: white;
  background: #eb2929;
}

.active {
  color: white;
  background: #eb2929;
}
