.main {
  height: 100vh;
  background: linear-gradient(
    rgba(253, 225, 205, 0.404),
    rgba(252, 228, 212, 0.103)
  );
  margin: 0;
  padding: 0;
}

.mainContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formGroup {
  text-align: start;
  margin: 2em auto;
  font-family: "Poppins";
}

.formGroup input {
  width: 100%;
  padding: 10px 8px;
  border: 2px solid rgba(255, 190, 143, 0.404);
  outline: none;
  appearance: none;
  border-radius: 8px;
}
