.main{
    background: linear-gradient(rgba(253, 225, 205, 0.404) , rgba(252, 228, 212, 0.103));
}
.main h1{
    font-family: 'Poppins';
    color: #E04E3B;
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
    padding: 40px;
}

.container{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container img{
    flex-basis: 15%;
    border-radius: 10px;
    border: 3px solid #f19089c9;
    box-shadow: 0px 0px 8px rgba(94, 74, 68, 0.315);
}

.instruction{
    flex-basis: 35%;
    font-family: 'Poppins';
    font-size: 14px;
    color: rgba(0, 0, 0, 0.603);
}

.instruction ol li{
    margin: 20px 0;
}

.description{
    flex-basis: 100%;
    margin-top: 60px;
}

.description h2{
    font-family: 'Playfair Display';
    font-size: 40px;
    color: #dd311abd;
    letter-spacing: 0.05em;
    margin: 20px auto;
}

.description p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #3d3d3d;
    margin: 20px auto;
}