nav {
  width: 65%;
  margin: 50px auto;
}

.navUL {
  display: flex;
  color: white;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.navUL li a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

.navUL li button {
  color: #ffffff;
  background: transparent;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
