.nav {
  margin: 0;
  width: 100%;
  height: 12vh;
  background: rgba(252, 62, 62, 0.795);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.808);
}

.nav .navItems {
  flex-basis: 5%;
}

.nav .navItems .navLinks {
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.nav .navItems .navLinks {
  background: transparent;
  border: none;
}
