.footer {
  margin-top: 150px;
  width: 100%;
  height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.681), rgba(0, 0, 0, 0.681)),
    url("../../Images/brooke-lark-M4E7X3z80PQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .footerItems {
  flex-basis: 20%;
  height: 200px;
  text-align: start;
}

.footer .footerItems h1 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.footer .footerItems h1 span {
  color: #e04e3b;
}

.footer .footerItems p {
  font-family: "Poppins";
  font-size: 14px;
  margin: 18px auto;
  color: rgb(235, 235, 235);
  font-style: italic;
}
