.banner{
    height: 130vh;
    background-image: linear-gradient(rgba(0,0,0,0.59) , rgba(0,0,0,0.59)) , url('../../Images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

#logo{
    margin: 20px 0;
}